<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Traffic Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/traffic.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="sidebar">
        <div class="logo">Seoul Traffic</div>
        <ul class="nav">
            <a href="{% url 'traffic' %}"><li class="nav-item active">교통량 현황</li></a>
            <a href="{% url 'accident' %}"><li class="nav-item">교통 사고량 현황</li></a>
            <a href="{% url 'correlation' %}"><li class="nav-item">교통량과 사고량의 상관관계</li></a>
        </ul>
    </div>
    <b class="data-year" id="data-year">※ 2022년 자료 기준</b>
    <div id="main-content">
        <div id="map-container">
            <object id="seoul-map" type="image/svg+xml" data="{% static 'svg/seoul_districts.svg' %}" width="90%"></object>
        </div>
        <div id="legend" class="legend"></div>
        <div id="info-box">
            <button id="close-info"><b>X</b></button>
            <h2 id="region-name"></h2>
            <p id="region-description"></p>
            <canvas id="trafficChart"></canvas>
            <div class="pie-chart-container">
                <canvas id="pieChart"></canvas>
                <p><b><span id="region-traffic"></span></b></p>
            </div>
            <div id="graph_image_box">
                <p><img class="graph_image" src="{% static 'image/car.png' %}" alt="차" ><b><span id="car-traffic"></span></b></p>
                <p><img class="graph_image" src="{% static 'image/bus.png' %}" alt="버스" ><b><span id="bus-traffic"></span></b></p>
                <p><img class="graph_image" src="{% static 'image/truck.png' %}" alt="트럭" ><b><span id="truck-traffic"></span></b></p>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const mapContainer = document.getElementById("map-container");
            const mapObject = document.getElementById("seoul-map");
            const infoBox = document.getElementById("info-box");
            const regionNameElement = document.getElementById("region-name");
            const regionDescriptionElement = document.getElementById("region-description");
            const closeInfoButton = document.getElementById("close-info");
            const legend = document.getElementById("legend");
            const mainContent = document.getElementById("main-content");
            const trafficChart = document.getElementById("trafficChart").getContext("2d");
            const pieChart = document.getElementById("pieChart").getContext("2d");
            const regionTraffic = document.getElementById("region-traffic");
            const dataYear = document.getElementById("data-year");

            const carTraffic = document.getElementById("car-traffic");
            const busTraffic = document.getElementById("bus-traffic");
            const truckTraffic = document.getElementById("truck-traffic");

            let chart;
            let pieChartInstance;
            let selectedRegion = null;

            const fetchData = (region) => {
                fetch(`/traffic_get_data/?region=${region}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            updateChart(data);
                            updatePieChart(data);
                        }
                    });
            };

            const updateChart = (data) => {
                if (chart) {
                    chart.destroy();
                }
                chart = new Chart(trafficChart, {
                    type: 'bar',
                    data: {
                        labels: data.time,
                        datasets: [
                            {
                                label: '승용차 교통량',
                                data: data.car_traffic,
                                borderColor: '#E08300',
                                backgroundColor: 'transparent',
                                type: 'line',
                                fill: false
                            },
                            {
                                label: '버스 교통량',
                                data: data.bus_traffic,
                                borderColor: '#1B7E00',
                                backgroundColor: 'transparent',
                                type: 'line',
                                fill: false
                            },
                            {
                                label: '트럭 교통량',
                                data: data.truck_traffic,
                                borderColor: '#1600FF',
                                backgroundColor: 'transparent',
                                type: 'line',
                                fill: false
                            },
                            {
                                label: '전체 교통량',
                                data: data.total_traffic,
                                backgroundColor: 'skyblue',
                                type: 'bar'
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                max: 1400
                            }
                        }
                    }
                });
            };

            const updatePieChart = (data) => {
                const totalCarTraffic = data.car_traffic.reduce((a, b) => a + b, 0);
                const totalBusTraffic = data.bus_traffic.reduce((a, b) => a + b, 0);
                const totalTruckTraffic = data.truck_traffic.reduce((a, b) => a + b, 0);
                const totalTraffic = totalCarTraffic + totalBusTraffic + totalTruckTraffic;
                
                const carPercentage = ((totalCarTraffic / totalTraffic) * 100).toFixed(2);
                const busPercentage = ((totalBusTraffic / totalTraffic) * 100).toFixed(2);
                const truckPercentage = ((totalTruckTraffic / totalTraffic) * 100).toFixed(2);

                carTraffic.innerHTML = totalCarTraffic + "대<br>" + carPercentage + "%";
                busTraffic.innerHTML = totalBusTraffic + "대<br>" + busPercentage + "%";
                truckTraffic.innerHTML = totalTruckTraffic + "대<br>" + truckPercentage + "%";

                if (pieChartInstance) {
                    pieChartInstance.destroy();
                }
                pieChartInstance = new Chart(pieChart, {
                    type: 'pie',
                    data: {
                        labels: ['승용차', '버스', '트럭'],
                        datasets: [{
                            data: [totalCarTraffic, totalBusTraffic, totalTruckTraffic],
                            backgroundColor: ['orange', 'green', 'blue']
                        }]
                    },
                    options: {
                        animation: {
                            animateRotate: true
                        }
                    }
                });
            };

            const trafficData = JSON.parse('{{ traffic_data|escapejs }}');
            const trafficValues = Object.values(trafficData);
            const minTraffic = Math.min(...trafficValues);
            const maxTraffic = Math.max(...trafficValues);

            const getColor = (value) => {
                const normalizedTrafficValue = (value - minTraffic) / (maxTraffic - minTraffic + 6000);
                const colorIntensity = 230 - Math.round(normalizedTrafficValue * 230);
                return `rgb(255,${colorIntensity},${colorIntensity})`;
            };

            const centerCoordinates = {
                "도봉구": { x: 890, y: 250 },
                "동대문구": { x: 960, y: 645 },
                "동작구": { x: 600, y: 970 },
                "은평구": { x: 570, y: 470 },
                "강북구": { x: 835, y: 400 },
                "강동구": { x: 1250, y: 770 },
                "강서구": { x: 200, y: 700 },
                "금천구": { x: 450, y: 1150 },
                "구로구": { x: 300, y: 1000 },
                "관악구": { x: 600, y: 1150 },
                "광진구": { x: 1060, y: 800 },
                "강남구": { x: 970, y: 1050 },
                "종로구": { x: 720, y: 630 },
                "중구": { x: 750, y: 730 },
                "중랑구": { x: 1080, y: 570 },
                "마포구": { x: 480, y: 740 },
                "노원구": { x: 1030, y: 350 },
                "서초구": { x: 810, y: 1070 },
                "서대문구": { x: 580, y: 650 },
                "성북구": { x: 850, y: 560 },
                "성동구": { x: 910, y: 780 },
                "송파구": { x: 1120, y: 970 },
                "양천구": { x: 300, y: 900 },
                "영등포구": { x: 470, y: 920 },
                "용산구": { x: 710, y: 850 }
            };

            mapObject.addEventListener("load", function() {
                const svgDoc = mapObject.contentDocument;
                const regions = svgDoc.querySelectorAll(".region");

                regions.forEach(function(region) {
                    const centroid = centerCoordinates[region.id];

                    const text = document.createElementNS("http://www.w3.org/2000/svg", "text");
                    text.setAttribute("class", "region-text");
                    text.setAttribute("x", centroid.x);
                    text.setAttribute("y", centroid.y);
                    text.setAttribute("dominant-baseline", "middle");
                    text.setAttribute("text-anchor", "middle");
                    text.setAttribute("font-size", "20px");
                    text.setAttribute("font-weight", "bold");
                    text.textContent = region.id.replace('-', ' ');
                    svgDoc.documentElement.appendChild(text);

                    const trafficValue = trafficData[region.id] || 0;
                    region.style.fill = getColor(trafficValue);
                    
                    text.addEventListener("mouseenter", function() {
                        if (region !== selectedRegion) {
                            region.style.fill = "#660000";
                            region.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                            text.setAttribute("fill", "white");
                        }
                    });

                    text.addEventListener("mouseleave", function() {
                        if (region !== selectedRegion) {
                            region.style.fill = getColor(trafficValue);
                            region.style.filter = "none";
                            text.setAttribute("fill", "black");
                        }
                    });

                    region.addEventListener("mouseenter", function() {
                        if (region !== selectedRegion) {
                            region.style.fill = "#660000";
                            region.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                            region.style.cursor = "pointer";
                            text.setAttribute("fill", "white");
                            text.setAttribute("cursor", "pointer");
                        }
                    });

                    region.addEventListener("mouseleave", function() {
                        if (region !== selectedRegion) {
                            region.style.fill = getColor(trafficValue);
                            region.style.filter = "none";
                            text.setAttribute("fill", "black");
                        }
                    });
                    region.addEventListener("click", function() {
                        if (selectedRegion) {
                            selectedRegion.style.fill = getColor(trafficData[selectedRegion.id] || 0);
                            selectedRegion.style.filter = "none";
                            const selectedText = mapObject.contentDocument.querySelector(`text[x="${centerCoordinates[selectedRegion.id].x}"][y="${centerCoordinates[selectedRegion.id].y}"]`);
                            selectedText.setAttribute("fill", "black");
                        }
                        selectedRegion = region;
                        selectedRegion.style.fill = "#660000";
                        selectedRegion.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                        const regionId = region.id.replace('-', '');
                        mainContent.style.transform = "translateX(-24%)";
                        mapContainer.style.transform = "translateX(-180px)";
                        infoBox.classList.add("active");
                        legend.classList.add("active");
                        dataYear.classList.add("active");
                        text.setAttribute('fill', 'white');
                        regionNameElement.textContent = regionId;
                        regionTraffic.textContent = regionId + "의 일일 평균 교통량 : " + trafficValue;
                        fetchData(regionId);
                    });
                });

                // SVG 배경 클릭 이벤트 추가
                svgDoc.documentElement.addEventListener("click", function(e) {
                    if (!e.target.closest(".region")) {
                        if (selectedRegion) {
                            const selectedText = svgDoc.querySelector(`text[x="${centerCoordinates[selectedRegion.id].x}"][y="${centerCoordinates[selectedRegion.id].y}"]`);
                            selectedText.setAttribute("fill", "black");
                            const prevRegion = svgDoc.querySelector(`#${selectedRegion.id}`);
                            prevRegion.style.fill = getColor(trafficData[selectedRegion.id] || 0);
                            prevRegion.style.filter = "none";
                            selectedRegion = null;
                        }
                        infoBox.classList.remove("active");
                        mainContent.style.transform = "translateX(0)";
                        mapContainer.style.transform = "translateX(0)";
                        legend.classList.remove("active");
                        dataYear.classList.remove("active");
                    }
                });

                // 범례 추가
                const steps = 6;
                const stepSize = (maxTraffic - minTraffic) / steps;
                const legendTitle = document.createElement('b');
                legendTitle.append("일일 평균 교통량");
                legend.append(legendTitle);

                // 색상 범례
                const legendColors = document.createElement('div');
                legendColors.classList.add('legend-scale');
                for (let i = 0; i <= steps; i++) {
                    const value = minTraffic + (i * stepSize);
                    const color = getColor(value);
                    const colorBox = document.createElement('span');
                    colorBox.classList.add('color-box');
                    colorBox.style.background = color;
                    legendColors.appendChild(colorBox);
                }
                legend.appendChild(legendColors);

                // 값 범례
                const legendValues = document.createElement('div');
                legendValues.classList.add('legend-value');
                for (let i = 0; i <= steps; i++) {
                    const value = minTraffic + (i * stepSize);
                    const valueLabel = document.createElement('span');
                    valueLabel.classList.add('legend-label');
                    valueLabel.textContent = Math.round(value);
                    legendValues.appendChild(valueLabel);
                }
                legend.appendChild(legendValues);
            });

            closeInfoButton.addEventListener("click", function() {
                if (selectedRegion) {
                    selectedRegion.style.fill = getColor(trafficData[selectedRegion.id] || 0);
                    selectedRegion.style.filter = "none";
                    const selectedText = mapObject.contentDocument.querySelector(`text[x="${centerCoordinates[selectedRegion.id].x}"][y="${centerCoordinates[selectedRegion.id].y}"]`);
                    selectedText.setAttribute("fill", "black");
                    selectedRegion = null;
                }
                infoBox.classList.remove("active");
                mainContent.style.transform = "translateX(0)";
                mapContainer.style.transform = "translateX(0)";
                legend.classList.remove("active");
                dataYear.classList.remove("active");
            });
        });
    </script>
</body>
</html>
