<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Traffic Accident Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/accident.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery 추가 -->
</head>
<body>
    <div id="sidebar">
        <div class="logo">Seoul Traffic</div>
        <ul class="nav">
            <a href="{% url 'traffic' %}"><li class="nav-item">교통량 현황</li></a>
            <a href="{% url 'accident' %}"><li class="nav-item active">교통 사고량 현황</li></a>
            <a href="{% url 'correlation' %}"><li class="nav-item">교통량과 사고량의 상관관계</li></a>
        </ul>
    </div>
    <b class="data-year" id="data-year">※ 2022년 자료 기준</b>
    <div id="main-content">
        <div id="map-container">
            <object id="seoul-map" type="image/svg+xml" data="{% static 'svg/seoul_districts.svg' %}" width="90%"></object>
        </div>
        <div id="legend" class="legend"></div>
        <div id="info-box">
            <button id="close-info"><b>X</b></button>
            <h2 id="region-name"></h2>
            <p id="region-description"></p>
            <div id="select-box" class="lb-main">
                <select id="age-select" class="beom">
                    <option value="accident">발생건수 및 부상자수</option>
                    <option value="age">연령대별 사고량</option>
                </select>
            </div>
            <canvas id="accidentChart"></canvas>
            <div id="accident_and_injury">
                <img id="injured_per_accident" src="{% static 'image/accident_man.png' %}" alt="사고당 부상자">
                <p id="average-injuries">사고 1 건당 부상자 수 : <span id="average-injuries-value"></span></p>
            </div>
            <div id="accident_graph_image_box">
                <p><img class="accident_graph_image" src="{% static 'image/accident.png' %}" alt="사고량" ><b><span id="accident-accident"></span></b></p>
                <p><img class="accident_graph_image" src="{% static 'image/injury.png' %}" alt="부상자" ><b><span id="injury-accident"></span></b></p>
            </div>
            <canvas id="ageChart" style="display: none;"></canvas>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            document.querySelector('.dropdown-toggle').addEventListener('click', function() {
                this.nextElementSibling.classList.toggle('show');
            });
        
            window.addEventListener('click', function(e) {
                if (!e.target.matches('.dropdown-toggle')) {
                    var dropdowns = document.querySelectorAll('.dropdown-menu');
                    dropdowns.forEach(function(dropdown) {
                        if (dropdown.classList.contains('show')) {
                            dropdown.classList.remove('show');
                        }
                    });
                }
            });

            const mapContainer = document.getElementById("map-container");
            const mapObject = document.getElementById("seoul-map");
            const infoBox = document.getElementById("info-box");
            const regionNameElement = document.getElementById("region-name");
            const regionDescriptionElement = document.getElementById("region-description");
            const closeInfoButton = document.getElementById("close-info");
            const legend = document.getElementById("legend");
            const mainContent = document.getElementById("main-content");
            const accidentChartCtx = document.getElementById("accidentChart").getContext("2d");
            const ageChartCtx = document.getElementById("ageChart").getContext("2d");
            const ageSelect = document.getElementById("age-select");
            const averageInjuriesValue = document.getElementById("average-injuries-value");
            const dataYear = document.getElementById("data-year");

            const accidentValue = document.getElementById("accident-accident");
            const injuryValue = document.getElementById("injury-accident");

            let chart = null;
            let ageChartInstance = null;
            let selectedRegion = null;

            const updateContentBasedOnSelection = () => {
                const selectedOption = ageSelect.value;
                if (selectedRegion) {
                    if (selectedOption === 'accident') {
                        document.getElementById('accidentChart').style.display = 'block';
                        document.getElementById('ageChart').style.display = 'none';
                        document.getElementById('accident_and_injury').style.display = 'block';
                        document.getElementById('accident_graph_image_box').style.display = 'block';
                        fetchData(selectedRegion);
                    } else if (selectedOption === 'age') {
                        document.getElementById('accidentChart').style.display = 'none';
                        document.getElementById('ageChart').style.display = 'block';
                        document.getElementById('accident_and_injury').style.display = 'none';
                        document.getElementById('accident_graph_image_box').style.display = 'none';
                        fetchAgeData(selectedRegion);
                    }
                }
            };

            ageSelect.addEventListener('change', updateContentBasedOnSelection);

            const fetchData = (region) => {
                fetch(`/month_accident_get_data/?region=${encodeURIComponent(region)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            updateChart(data);
                            if (typeof data.region_stats === 'number') {
                                averageInjuriesValue.textContent = data.region_stats.toFixed(2);
                                accidentValue.innerHTML = "총 사고 건수 : " + data.total_accidents + "건";
                                injuryValue.innerHTML = "총 부상자 수 : " + data.total_injuries + "명";
                            } else {
                                averageInjuriesValue.textContent = data.region_stats;
                            }
                        }
                    });
            };

            const updateChart = (data) => {
                if (chart) {
                    chart.destroy();
                }
                chart = new Chart(accidentChartCtx, {
                    type: 'line',
                    data: {
                        labels: data.months,
                        datasets: [
                            {
                                label: '발생건수',
                                data: data.accidents,
                                borderColor: 'red',
                                backgroundColor: 'transparent',
                                fill: false,
                                tension: 0.1
                            },
                            {
                                label: '부상자수',
                                data: data.injuries,
                                borderColor: '#D4D407',
                                backgroundColor: 'transparent',
                                fill: false,
                                tension: 0.1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                            }
                        }
                    }
                });
            };

            const fetchAgeData = (region) => {
                if (!region) return;

                fetch(`/age_accident_get_data/?region=${encodeURIComponent(region)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            updateAgeChart(data);
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching age data:', error);
                    });
            };

            const updateAgeChart = (data) => {
                if (ageChartInstance) {
                    ageChartInstance.destroy();
                }
                ageChartInstance = new Chart(ageChartCtx, {
                    type: 'bar',
                    data: {
                        labels: data.age_groups,
                        datasets: [
                            {
                                label: '발생건수',
                                data: data.accidents,
                                backgroundColor: 'blue'
                            },
                            {
                                label: '부상자수',
                                data: data.injuries,
                                backgroundColor: 'orange'
                            }
                        ]
                    },
                    options: {
                        indexAxis: 'y',
                        scales: {
                            x: {
                                beginAtZero: true,
                            },
                            y: {
                                beginAtZero: true,
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: data.title
                            }
                        }
                    }
                });
            };

            const accidentData = JSON.parse('{{ accident_data|escapejs }}');
            const accidentValues = Object.values(accidentData);
            const minAccident = Math.min(...accidentValues);
            const maxAccident = Math.max(...accidentValues);

            const getColor = (value) => {
                const normalizedAccidentValue = (value - minAccident) / (maxAccident - minAccident + 100);
                const colorIntensity = 230 - Math.round(normalizedAccidentValue * 230);
                return `rgb(255, ${colorIntensity}, ${colorIntensity})`;
            };

            const centerCoordinates = {
                "도봉구": { x: 890, y: 250 },
                "동대문구": { x: 960, y: 645 },
                "동작구": { x: 600, y: 970 },
                "은평구": { x: 570, y: 470 },
                "강북구": { x: 835, y: 400 },
                "강동구": { x: 1250, y: 770 },
                "강서구": { x: 200, y: 700 },
                "금천구": { x: 450, y: 1150 },
                "구로구": { x: 300, y: 1000 },
                "관악구": { x: 600, y: 1150 },
                "광진구": { x: 1060, y: 800 },
                "강남구": { x: 970, y: 1050 },
                "종로구": { x: 720, y: 630 },
                "중구": { x: 750, y: 730 },
                "중랑구": { x: 1080, y: 570 },
                "마포구": { x: 480, y: 740 },
                "노원구": { x: 1030, y: 350 },
                "서초구": { x: 810, y: 1070 },
                "서대문구": { x: 580, y: 650 },
                "성북구": { x: 850, y: 560 },
                "성동구": { x: 910, y: 780 },
                "송파구": { x: 1120, y: 970 },
                "양천구": { x: 300, y: 900 },
                "영등포구": { x: 470, y: 920 },
                "용산구": { x: 710, y: 850 },
                "은평구": { x: 570, y: 470 },
                "종로구": { x: 720, y: 630 },
                "중구": { x: 750, y: 730 },
                "중랑구": { x: 1080, y: 570 }
            };

            mapObject.addEventListener("load", function() {
                const svgDoc = mapObject.contentDocument;
                const regions = svgDoc.querySelectorAll(".region");

                regions.forEach(function(region) {
                    const centroid = centerCoordinates[region.id];

                    const text = document.createElementNS("http://www.w3.org/2000/svg", "text");
                    text.setAttribute("class", "region-text");
                    text.setAttribute("x", centroid.x);
                    text.setAttribute("y", centroid.y);
                    text.setAttribute("dominant-baseline", "middle");
                    text.setAttribute("text-anchor", "middle");
                    text.setAttribute("font-size", "20px");
                    text.setAttribute("font-weight", "bold");
                    text.textContent = region.id.replace('-', ' ');
                    svgDoc.documentElement.appendChild(text);

                    const accidentValue = accidentData[region.id] || 0;
                    region.style.fill = getColor(accidentValue);

                    text.addEventListener("mouseenter", function() {
                        if (region.id !== selectedRegion) {
                            region.style.fill = "#660000";
                            region.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                            text.setAttribute("fill", "white");
                        }
                    });

                    text.addEventListener("mouseleave", function() {
                        if (region.id !== selectedRegion) {
                            region.style.fill = getColor(accidentValue);
                            region.style.filter = "none";
                            text.setAttribute("fill", "black");
                        }
                    });

                    region.addEventListener("mouseenter", function() {
                        if (region.id !== selectedRegion) {
                            region.style.fill = "#660000";
                            region.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                            region.style.cursor = "pointer";
                            text.setAttribute("fill", "white");
                            text.setAttribute("cursor", "pointer");
                        }
                    });

                    region.addEventListener("mouseleave", function() {
                        if (region.id !== selectedRegion) {
                            region.style.fill = getColor(accidentValue);
                            region.style.filter = "none";
                            text.setAttribute("fill", "black");
                        }
                    });

                    region.addEventListener("click", function() {
                        if (selectedRegion) {
                            const selectedText = svgDoc.querySelector(`text[x="${centerCoordinates[selectedRegion].x}"][y="${centerCoordinates[selectedRegion].y}"]`);
                            selectedText.setAttribute("fill", "black");
                            const prevRegion = svgDoc.querySelector(`#${selectedRegion}`);
                            prevRegion.style.fill = getColor(accidentData[selectedRegion] || 0);
                            prevRegion.style.filter = "none";
                        }
                        selectedRegion = region.id; // 여기서 id를 사용
                        region.style.fill = "#660000";
                        region.style.filter = "drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8))";
                        mainContent.style.transform = "translateX(-24%)";
                        mapContainer.style.transform = "translateX(-180px)";
                        infoBox.classList.add("active");
                        legend.classList.add("active");
                        dataYear.classList.add("active");
                        regionNameElement.textContent = region.id.replace('-', '');
                        updateContentBasedOnSelection(); // 여기서 적절한 함수 호출
                    });
                });

                // 범례 추가
                const steps = 6;
                const stepSize = (maxAccident - minAccident) / steps;

                // 범례 제목 추가
                const legendTitle = document.createElement('b');
                legendTitle.append("교통 사고량");
                legend.append(legendTitle);

                // 색상 범례
                const legendColors = document.createElement('div');
                legendColors.classList.add('legend-scale');
                for (let i = 0; i <= steps; i++) {
                    const value = minAccident + (i * stepSize);
                    const color = getColor(value);
                    const colorBox = document.createElement('span');
                    colorBox.classList.add('color-box');
                    colorBox.style.background = color;
                    legendColors.appendChild(colorBox);
                }
                legend.appendChild(legendColors);

                // 값 범례
                const legendValues = document.createElement('div');
                legendValues.classList.add('legend-value');
                for (let i = 0; i <= steps; i++) {
                    const value = minAccident + (i * stepSize);
                    const valueLabel = document.createElement('span');
                    valueLabel.classList.add('legend-label');
                    valueLabel.textContent = Math.round(value);
                    legendValues.appendChild(valueLabel);
                }
                legend.appendChild(legendValues);
            });

            closeInfoButton.addEventListener("click", function() {
                if (selectedRegion) {
                    const selectedText = mapObject.contentDocument.querySelector(`text[x="${centerCoordinates[selectedRegion].x}"][y="${centerCoordinates[selectedRegion].y}"]`);
                    selectedText.setAttribute("fill", "black");
                    const prevRegion = mapObject.contentDocument.querySelector(`#${selectedRegion}`);
                    prevRegion.style.fill = getColor(accidentData[selectedRegion] || 0);
                    prevRegion.style.filter = "none";
                    selectedRegion = null;
                }
                infoBox.classList.remove("active");
                mainContent.style.transform = "translateX(0)";
                mapContainer.style.transform = "translateX(0)";
                legend.classList.remove("active");
                dataYear.classList.remove("active");
            });
        });
    </script>
</body>
</html>
